$font-family-sans-serif: 'M PLUS Rounded 1c', sans-serif;
$font-weight-normal: 600;

$primary:#FFEDD8;
$secondary:#E9EDC9;
$success:#D4A373;
$warning:#CCD5AE;
$danger:#E9EDC9;

$progress-height: 2rem;


